extends layout

block content
  div(class='topnav')


		a(href="./logout") Logout



	p(class="titlehead") All Posts

	div(class="list-type2")
	ul
		each post in posts
			li=(post.post+"        Posted By:"+ post.username)

	button(onclick="window.location='/post'" class='buttonsignup') New Post