<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>change password</title>
    <style>
        .signup-form {
            width: 500px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

            .signup-form input[type=password], .signup-form input[type=text] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;
            }

                .signup-form input[type=password]:focus, .signup-form input[type=text]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            .signup-form input[type="submit"] {
                width: 100%;
                padding: 15px;
                border: 1px solid #dddddd;
                margin-bottom: 15px;
                box-sizing: border-box;
                color: #45b543;
            }

        button:hover {
            opacity: 1;
        }

        .signup-form h1 {
            text-align: center;
            color: #45b543;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }
    </style>
</head>
<body>
    <% if (isAdded) { %>
    <script>
        Swal.fire(
            'ERROR!',
            'Check Email !',
            'error'
        );
    </script>
    <% } %>
    
    <div class="signup-form">
        <h1>ChangePassword</h1>
        <form action="/password" method="post">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="Cnpsw"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="Cnpsw" required>

            <input type="submit" value="Change">
        </form>
    </div>
</body>
</html>