<!DOCTYPE html>
<html lang="en">

<head>
   
    <style>
        form {
            border: 3px solid darkgreen;
        }
        
        body {
            font-family: Arial;
            padding: 10px;
            background: #f1f1f1;
        }
       input[type=submit],input[type=button] {
            background-color: dimgrey;
            color: white;
            padding: 12px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
        }
        .header {   
            font-size: 10px;
            width:80%;
            background-color:dimgrey;
        }
            .header h1 {
                text-decoration: underline;
                text-shadow: 2px 2px white;
            }
       
      
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        input[type=text], select, textarea {
            width: 50%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        .col-25 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

       
        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
        .imgcontainer {
            float: left;
            border-radius: 50%;
            margin: 0;
        }
        .topright {
            float: right;
            margin-top: 0;
            font-size: 12px;
            width: 30%;
        }

        img.avatar {
            width: 30%;
            border-radius: 30%;
        }
        @media screen and (max-width: 800px) {
            .col-25,  input[type=submit] {
                width: 100%;
                margin-top: 0;
                padding: 0;
            }
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
    </style>
</head>

<body>
    <form action="/posts/detail/:id" method="post">

        <div class="row">
            <div class="header">
                <h1>POST</h1>
            </div>

            <div class="col-25">
                <label for="description"> POST DESCRIPTION:</label><br />
                <input type="text" id="description" placeholder="descripion of post" />
            </div>

            <div class="col-25">
                <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
                <label for="file" style="cursor: pointer;">Image</label>
                <img id="output" class="avatar" />

                <script>
                    var loadFile = function (event) {
                        var image = document.getElementById('output');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
            </div>

            <div class="col-25">
                <label for="post">Post: </label>
                <textarea id="post" name="post" placeholder="post here " rows="20" cols="40"></textarea><br />
            </div>
        </div>


    </form>
   
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb">/*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "https://www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%242xNFtlUcZOp%2FGnr2SquBG%2F" + "&opts=16862&num=10&ts=1594666082245"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/</script>

    <div class="topright">
        <input type="submit" formaction="/logout" formmethod="get" value="logout" />
    </div>

</body>
</html>