<!DOCTYPE html>
<html lang="en">

<head>
   
    <style>
        form {
            border: 2px solid #4fded7;
        }
        body {
            background-color: lightblue;
        }
        h1 {
            background-color: darkblue;
            color: white;
        }
        input[type=text] {
            width: 60%;
            padding: 10px 10px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
    </style>
</head>

<body>
    <h1>POST</h1>
    <form action="/posts/detail/:id">
        <div align="center">
            <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
            <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
            <p><img id="output" width="400" /></p>

            <script>
                var loadFile = function (event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>
        </div>     

        
        <div align="center">
        <label for="title"></label>
        <input type="text" id="title" placeholder="title of post" /><br />
            </div>
        <div align ="center">
        <label for="description"></label>
       <input type="text" id="description" placeholder="descripion of post" />
            </div>
        <div align="center">
        <label for="by"></label>
        <input type="text" id="by" placeholder="post by" />
            </div>
        <div align="center">
        <label for="post"> </label>
        <textarea id="post" name="post" placeholder="post here " rows="10" cols="60"></textarea><br />
           </div>
        </form>
    
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb">/*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "https://www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%242xNFtlUcZOp%2FGnr2SquBG%2F" + "&opts=16862&num=10&ts=1594666082245"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/</script>
    

</body>
</html>